<html lang="en">

{% extends 'base.html' %}

{% block titleblock %}Email sent{% endblock %}

{% block bodyblock %}
<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 main text-center">
    <h2 class="page-header">Email Sent!</h2>
    <p>
    We've emailed you instructions for resetting your password, which you should receive shortly.
    </p>
    <p>
    If you don't receive an email, please make sure you've entered the address of the registered account,
    and check your spam folder.
    </p>
</div>
{% endblock %}
