<html lang="en">

{% extends 'base.html' %}

{% block titleblock %}Password has reset{% endblock %}

{% block bodyblock %}
<div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center main">
    <h2 class="page-header">Success!</h2>
    <p>
        Your password has been reset. You may go ahead and <a href="{% url 'logbook:login' %}" style="text-decoration:underline;">login in</a> with your new password.
    </p>
    <p>
        If you forget your password but are still able to log in, you can change your password from your profile.
    </p>
</div>
{% endblock %}
