{% extends 'base.html' %}

{% load static %}

{% block titleblock %}Reset Password{% endblock %}

{% block bodyblock %}
<link href="{% static "css/signin.css" %}" rel="stylesheet">

<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 main">
    <div class="text-center">
        <h2 class="form-signin-heading">Send Reset Link</h2>
    </div>
    <form action="" method="post" class="form">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <div class="text-center">
            {{ form.email.errors }}
            <div class="input-group" style="padding-bottom: 10px;">
                <span class="input-group-addon" id="sizing-addon1">@</span>
                <input class="form-control" name="email" type="email" placeholder="E-mail Address" maxlength="254" required/>
            </div>
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>
    </form>
</div>
{% endblock %}
