<html lang="en">

{% extends 'base.html' %}

{% load static %}

{% block titleblock %}Password Reset{% endblock %}

{% block bodyblock %}
<link href="{% static "css/signin.css" %}" rel="stylesheet">

<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 main">
    {% if validlink %}
        <div class="text-center">
            <h1 class="form-signin-heading">Reset Password</h1>
            <p>Please enter your new password twice.<br />
               So we can verify you typed it in correctly.</p>
        </div>
        <form action="" class="form" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="input-group" style="padding-bottom: 10px;">
                {{ form.new_password1.errors }}
                <input class="form-control" name="new_password1" type="password" placeholder="Password" required/>
                
                {{ form.new_password2.errors }}
                <input style="margin-top: 10px;" class="form-control" name="new_password2" type="password" placeholder="Password Again" required/>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Change My Password" />
        </form>
    {% else %}
        <h1 class="page-header" >Password Reset Unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}
