<html lang="en">

{% extends 'base.html' %}
{% block styleblock %}
	ul {
		list-style-type: none;
	}
        .question{
            font-size: 20px;
            padding-bottom:10px;
        }
        .answer{
            padding-bottom: 20px;
        }
{% endblock %}


{% block titleblock %}FAQ{% endblock %}

{% block bodyblock %}
<div class="col-xs-11 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1" id = "faqblock">
    <ul>
        <li><h2 class = "page-header">Students</h2></li>
        <li class = "question">How do I create an account?</li>
        <li class = "answer">To create an account, first,select the "Sign Up!" option from the navigation bar in the top left corner of your screen. Then, enter your student number and desired password into the forms provided, and click the "Create" button.<OPTIONAL> Before logging in for the first time an email will be sent asking you to validate your account. Open your student email and follow the link in the email from <<ValidationEmailAddress>>.</Optional></li>
        <li class = "question">What is a logbook?</li>
        <li class = "answer">Logbooks are a handy way of sorting your volunteer hours and saving you time while logging them. Every organization you volunteer for should have a separate logbook.</li>
        <li class = "question">How do I log my hours to be approved by my supervisor?</li>
        <li class = "answer">Once you have created a logbook for an organisation, you will be able to click on the name of this book. This 'opens' the logbook and gives you options to add entries which are the times you have volunteered for this organisation.</li>
        <li class = "question">What should I do if my supervisor isn't on the system yet?</li>
        <li class = "answer">If your supervisor is not yet on the system but plans to use it in the future, you can log your hours as normal and will be able to approve them once they have an account. If your supervisor does not plan to use the system, then you will have to log your hours physically. Please speak to Guild Volunteering about acquiring a log book.</li>
        <li class = "question">Help! I forgot my password!</li>
        <li class = "answer">If you forget your password it can be reset by following the link on the login page or by clicking <a href="{% url 'hackathon:password_reset' %}">here</a>.</li>
        <li><h2 class = "page-header">Supervisors</h2></li>
        <li class = "question">How do I approve logged hours?</li>
        <li class = "answer">Starting at the home page click the link that says "Approve Volunteer Hours". If you have hours to approve you will see the volunteer's full name, as well as student number. When you click on this it will show you the times the volunteer claims to have worked for your organisation, you can either choose to approve or deny these hours.</li>
    </ul>
</div>
<!-- {{ names }} -->
{% endblock %}

