<html lang="en">

{% extends 'base.html' %}
{% block styleblock %}
{% endblock %}


{% block titleblock %}FAQ{% endblock %}

{% block bodyblock %}
<div class="container">
    <div class="panel-group" id="accordion">
        <h3>General questions</h3>
        
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#questionOneCollapse"> What does 'Homeless Services' do?</a>
                </h4>
            </div>
            <div id="questionOneCollapse" class="panel-collapse collapse">
                <div class="panel-body">
                    The vast majority of homeless people aren't aware of the free services available them. 
                    The 'Homeless Services' was created to change this by visually showing the free services available and their locations on the map. 
                </div>
            </div>
        </div>
        
        
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#questionTwoCollapse"> How do I create an account?</a>
                </h4>
            </div>
            <div id="questionTwoCollapse" class="panel-collapse collapse">
                <div class="panel-body">
               		You can sign up by clicking on the 'Register' link below the password bar. Enter your information and click on 'Create' when done.
                </div>
            </div>
        </div>
        
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#questionThreeCollapse"> Help! I forgot my password!</a>
                </h4>
            </div>
            <div id="questionThreeCollapse" class="panel-collapse collapse">
                <div class="panel-body">
                    If you forgot your password, click on the 'Reset Password' link below the password bar. You will then have to enter your email. You should receive the instructions in your email within 5minutes.
                </div>
            </div>
        </div>
        
       	<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#questionFourCollapse"> What do the Upvotes and Downvotes do?</a>
                </h4>
            </div>
            <div id="questionFourCollapse" class="panel-collapse collapse">
                <div class="panel-body">
                    The upvote and downvote system was designed to give the user an idea about the quality of service. If a service has a high number of upvotes it means that a lot of people liked it. You can also contribute by upvoting or downvoting.
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- {{ names }} -->
{% endblock %}

