<html lang="en">

{% extends 'base.html' %}

{% load static %}

{% block styleblock %}
    #map {width: 100%; height: 100%;}
   
{% endblock %}
{% block titleblock %}Welcome{% endblock %}

{% block bodyblock %}
<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-12 col-sm-12 col-md-6 text-center">
        <h1 class="page-header">Map of Services</h1>
        <div id="map"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 text-center">
        <h1 class="page-header">List of Services</h1>
        {% if services %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}

                    <tr>
                        <div class="hidden">{{ service.id }}</div>
                        <td>
                            {{ service.name }}
                        </td>
                        <td>
                            {{ service.description }}
                        </td>
                        <td>
                            {{ service.category }}
                        </td>
                        <td>
                            <button class="btn btn-primary success" id="up-{{service.id}}" onclick="sendVote('{{service.id}}','up')"><span class="glyphicon glyphicon-arrow-up"></span> {{service.votes_up }}</button>
                            <button class="btn btn-primary danger" id="down-{{service.id}}" onclick="sendVote('{{service.id}}','down')"><span class="glyphicon glyphicon-arrow-down"></span> {{ service.votes_down}}</button>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
        	</table>
        {% endif %}
</div>
<script src="{% static 'js/voting.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4kxPtJQxf_EQfqu_4UP72UGrViHLUYwY&callback=initMap">
</script>
{% endblock %}